*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Joti One", cursive;
  background-color: #595959;
}
.game_container {
  /* background-color: #fde396; */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 80vh;
}
.opacityOverlay {
  position: absolute;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  border-radius: 1rem;
  border: 0.6rem solid white;
  color: white;
  display: flex;
  justify-content: center;
  font-family: "Inter";
  width: 14vw;
  height: 28vh;
  background-color: rgba(244, 244, 244, 0.3);
}

.leaderBoard {
  position: fixed;
  right: 2.5%;
  top: 5%;
  flex-direction: column;
  text-align: center;
  /* align-items: center; */
  border-radius: 1rem;
  border: 0.6rem solid white;
  color: white;
  display: flex;
  font-family: "Inter";
  width: 12.5vw;
  height: 70vh;
  background-color: rgba(244, 244, 244, 0.3);
  padding: 20px;
}
.leaderboardMokokos {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 50vh;
  width: 10vw;
  top: 18%;
}
.guessedtext {
  position: absolute;
  top: 3%;
  text-align: center;
  font-family: "Joti One", cursive;
}

.aliveDiv {
  left: 2.5%;
  top: 5%;
}
.turnContainer {
  right: 2.5%;
  top: 5%;
  background-color: rgba(244, 244, 244, 0.3);
  font-family: "Joti One", cursive;
}
.playerImg {
  width: 60%;
  height: auto;
}
.aliveHeader {
  font-family: "Joti One", cursive;
}
.playerAliveDiv {
  line-height: 2rem;
  text-align: center;
}
.opacityOverlay h3 {
  /* margin-top: 5%; */
  margin-bottom: 5%;
}
.door_container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;
  width: 100%;
  height: 50%;
}
.door_container img {
  width: 15%;
  height: auto;
  transition: 0.2s ease-in-out;
}
.door_container img:hover {
  opacity: 0.6;
}

.chalice_container {
  position: fixed;
  bottom: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;
  width: 50%;
  height: 30%;
  z-index: 100;
}
.chalice_container img:hover {
  opacity: 0.6;
}
.chaliceTable {
  position: fixed;
  bottom: 7%;
}

.landing_header {
  font-size: 2.5rem;
}
.landing_button {
  padding: 0.5rem, 1.5rem;
  border: 0.1rem solid black;
  background-color: white;
  margin: 0 0.4rem 0.4rem 0;
  border-radius: 0.5rem;
  text-decoration: none;
  width: 25rem;
  height: 5%;
  font-size: 1.5rem;
}
.dark_layer {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 5;
  position: fixed;
}

.lobby_wall {
  width: 100%;
  height: 80vh;
  z-index: -2;
  position: fixed;
}
.text_div {
  position: absolute;
  color: white;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.status_header {
  font-size: 4rem;
  margin-bottom: 1rem;
}
.turn_header {
  color: white;
  font-size: 3rem;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}
.clue_header {
  color: white;
  font-size: 2rem;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.result_header {
  font-size: 2rem;
}
.reset_header {
  font-size: 3rem;
  color: white;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.return_button {
  font-size: 1rem;
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  letter-spacing: 0.2em;
  padding: 0.5rem, 1.5rem;
  color: white;
  background-color: rgba(255, 255, 255, 0.276);
  margin: 0.4rem 0.4rem 0.4rem 0.4rem;
  border-radius: 2rem;
  text-decoration: none;
  width: 20rem;
  height: 5%;
  font-size: 1.5rem;
  font-family: "Joti One", cursive;
}
.crocodileTable {
  position: fixed;
  bottom: -3%;
}
.none {
  display: none !important;
}
.pointerNone {
  pointer-events: none;
}
.tooth:hover {
  fill: #d3d2d2;
}

.mysterycard_container {
  z-index: -1;
  position: fixed;
  bottom: 0%;
}

.submitNumber {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 20;
  position: fixed;
  bottom: 9%;
}

.insert_number {
  border-radius: 20px;
  width: 250px;
  padding: 10px;
}

.submit_number {
  border-radius: 20px;
  width: 100px;

  padding: 10px;
}

.guessedit {
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 1.5rem;
  font-family: "Joti One", cursive;
}
.big_mokoko {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
